<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <diagnostics>
        <messageLogging logEntireMessage="true" logMalformedMessages="true"
          logMessagesAtTransportLevel="true" />
      </diagnostics>
      <services>
        <service name="WCFService.RentCarService">
          <endpoint 
            address="http://localhost:8888/"  
            binding="webHttpBinding"  
            contract="WCFService.IRentCarServiceREST"
            behaviorConfiguration="RESTBehavior"
            >
          </endpoint>

          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8888/" />
            </baseAddresses>
          </host>
        </service>
      </services>

      <behaviors>
        <endpointBehaviors>
          <behavior name="RESTBehavior">
            <webHttp helpEnabled="true"/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
  
</configuration>